<div>
  <mat-toolbar class="mat-toolbar">
    <h1><span class="light">
        <img class="image" src="assets/nimboAgeLogo.png">

      </span></h1>
    <span class="spacer"></span>
    <a button mat-button [routerLink]="['home']" routerLinkActive="active">HOME</a>
    <a button mat-button [routerLink]="['about']" routerLinkActive="active">ABOUT</a>
    <a button mat-button [routerLink]="['contact']" routerLinkActive="active">CONTACT</a>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>


<div class="footer">

  <mat-toolbar>
    <p><span class="light">
        <a>©nimboAge 2021</a>

      </span></p>
    <span class="spacer"></span>
    <a href="#" class="fa fa-facebook m-2"></a>
    <a href="#" class="fa fa-twitter m-2"></a>
    <a href="#" class="fa fa-linkedin m-2"></a>
    <a href="#" class="fa fa-instagram m-2"></a>
  </mat-toolbar>
</div>